body{
    margin: 0;
}
.navigation{
    display: flex;
    background-color: #F8FAFC;
    justify-content: space-between;
}

.header{
    display:flex;
    height: 500px;
}

#plants,#seeds,#pots-planters,#plant-care,#gifting,#offers{
    margin-top: 10px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#logo-text{
    position: relative;
    bottom: 30px;
    right: 8px;
    font-size: x-large;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#search{
    width: 170px;
    height: 24px;
    background-color: white;
    border: 1px solid black;
    margin-top: 25px;
    border-radius: 5px;
}

#user-icon{
    width: 32px;
    height: 32px;
    margin-right: 20px;
    margin-top: 17px;
}

#left-slice,#family-tree,#right-slice{
    height: inherit;
}

#left-slice{
    width: 40%;
}

#family-tree{
    width: 100%;
}

#right-slice{
    width: 60%;
    background-color: #3E5F3D;
    text-align: center;
    color: #F8FAFC;
    font-family: "Lugrasimo", serif;
    font-weight: 400;
    font-style: normal;
}

#right-slice>h2{
    font-size: 30px;
    position: relative;
    top: 100px;
}

#right-slice>p{
    font-size: 20px;
    position: relative;
    top: 120px;
}